# ***iloc and loc functions in python***

In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.DataFrame({'name':['emmanuel','simon','hero','ironman'],
 'class':[1,2,3,4],
 'sub':['science','maths','kannada','hindi'],
 'dist':['banglore','bidar','gulbarga','huballi']})

In [5]:
df

       name  class      sub      dist
0  emmanuel      1  science  banglore
1     simon      2    maths     bidar
2      hero      3  kannada  gulbarga
3   ironman      4    hindi   huballi

In [ ]:
syntax:
df.iloc(range of rows index,range of column index)

In [6]:
df.iloc[:,:]
# selects all rows and all columns

       name  class      sub      dist
0  emmanuel      1  science  banglore
1     simon      2    maths     bidar
2      hero      3  kannada  gulbarga
3   ironman      4    hindi   huballi

In [14]:
df.iloc[0:2,0:3]
#selects 0 to 2 rows and 0 to 3 columns

       name  class      sub
0  emmanuel      1  science
1     simon      2    maths

In [16]:
df.iloc[1:,2:]
# selects 1 to all rows and 2 to all columns

       sub      dist
1    maths     bidar
2  kannada  gulbarga
3    hindi   huballi

In [17]:
df

       name  class      sub      dist
0  emmanuel      1  science  banglore
1     simon      2    maths     bidar
2      hero      3  kannada  gulbarga
3   ironman      4    hindi   huballi

**df.loc** *
here in df.loc we need to give columns names instead of index numbers

In [24]:
df

       name  class      sub      dist
0  emmanuel      1  science  banglore
1     simon      2    maths     bidar
2      hero      3  kannada  gulbarga
3   ironman      4    hindi   huballi

In [27]:
df.loc['1':'2','name':'dist']
# here l to 2 rows are selected and name to dist columns are selected

    name  class      sub      dist
1  simon      2    maths     bidar
2   hero      3  kannada  gulbarga

In [30]:
df.loc['1':,'name':]
# here 1 to all rows are selected and name to all columns selected

      name  class      sub      dist
1    simon      2    maths     bidar
2     hero      3  kannada  gulbarga
3  ironman      4    hindi   huballi